body{
    border: 0;
    padding: 0;
    margin: 0;
}
#mealsDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    text-align:center;
    padding: 30px;  
}

.foods{
background-color:lightgray;
border-radius: 10px 10px 10px;
box-shadow: 20px 10px 40px lightgray;
height: 282px;
overflow:auto;
}

.foods img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

#textSpacing{
    padding-top: 15px; ;
}
#mealDetail{
    padding-left: 30px;
}

#mealDetail img{
    width:450px;
    height: 322px;
    padding: 5px;
    border-radius: 40px;
    box-shadow: 20px 10px 30px lightgray;
}
#textStyle{
    margin-top: 25px;
}

#ingredient{
    padding-left: 50px;
}

#errorMessage{
    text-align: center;
    font-size: 30px;
    color: rgb(150, 1, 1);
    font-weight: 700;
}

#logo img{
    position: relative;
    width: 90.97px;
    height: 66.93px;
}